$box-shadow-thin: 0 0 8px 0 #d6dce9;

$box-shadow-regular: 0 15px 35px rgba(50, 50, 93, 0.1),
  0 5px 15px rgba(0, 0, 0, 0.07);

$box-shadow-header: 0 50px 40px -5px rgba(50, 50, 93, 0.25),
  0 8px 16px -8px rgba(0, 0, 0, 0.1), 0 -6px 16px -6px rgba(0, 0, 0, 0.01),
  0 0 20px rgba(0, 0, 0, 0.01);

$box-shadow-heavy: 0 13px 27px -5px rgba(50, 50, 93, 0.1),
  0 8px 16px -8px rgba(0, 0, 0, 0.1), 0 -6px 16px -6px rgba(0, 0, 0, 0.01),
  0 0 20px rgba(0, 0, 0, 0.01);

$box-shadow-heavy-hover: 0 13px 27px -5px rgba(50, 50, 93, 0.3),
  0 8px 16px -8px rgba(0, 0, 0, 0.1), 0 -6px 16px -6px rgba(0, 0, 0, 0.01),
  0 0 20px rgba(0, 0, 0, 0.01);
