$grid-gutter: 20px;
$grid-gutter-sm: 10px;
$grid-gutter-md: 20px;
$grid-gutter-lg: 30px;
$grid-column-count: 12;
$grid-grid-base: 16px;
$grid-max-width: 1190;
$grid-max-width-sm: 630px;
$grid-max-width-md: 960px;
$grid-max-width-lg: 1350px;

$grid-nav-padding-top: 0.5rem;
$grid-nav-padding-left: 0.85rem;
$grid-nav-padding-bottom: 0.5rem;
$grid-nav-padding-right: 0.85rem;
$grid-nav-padding: $grid-nav-padding-top $grid-nav-padding-right;
