.topbar {
    @include rem(padding, 5px);
    @include rem(height, 50px);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid $color-gray-23;
    top: 0;
    left: 0;

    &___hidden {
        display: none;
    }

    &__reset {
        display: flex;
        align-items: center;
        color: $color-font-headline;
        background-color: $color-white;
        padding: 0.5rem 1.75rem;

        &:hover {
            cursor: pointer;
            background-color: $color-gray-04;
        }

        svg {
            @include rem(font-size, 14px);
            @include rem(margin-right, 5px);
        }
    }
}