.icon {
    @include border-radius(50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &___small {
        width: 35px;
        height: 35px;
    }

    &___medium {
        width: 55px;
        height: 55px;
    }

    &___large {
        width: 75px;
        height: 75px;
    }
}
