.question {
    @include rem(padding, 20px);
    display: block;

    &__header {
        @include rem(margin-bottom, 15px);
    }

    &__question {
        @include rem(font-size, 32px);
        @include myriad(400);
        @include rem(margin-bottom, 25px);
        display: flex;
        align-items: baseline;
    }

    &__infoIcon {
        @include rem(font-size, 21px);
        @include rem(margin-left, 10px);
        color: $color-gray-23;

        &:hover {
            cursor: pointer;
        }
    }

    &__options {
        @include rem(margin-bottom, 30px);
        display: flex;
        flex-direction: column;

        @include breakpoint(md) {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__option {
        @include rem(padding, 15px);
        @include rem(margin-bottom, 15px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        background-color: $color-white;
        transition: box-shadow 0.5s;
        box-shadow: 0 0 0 2px $color-gray-11;

        @include breakpoint(md) {
            margin-bottom: 0;
        }

        &___selected {
            box-shadow: 0 0 0 2px $color-green;
            background-color: lighten($color-green, 50%);

            &:hover {
                box-shadow: 0 0 0 2px $color-green!important;
            }

            h3 {
                color: darken($color-green, 20%);
            }
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 0 2px $color-gray-40;
        }

        h3 {
            @include rem(font-size, 18px);
            font-weight: 400;
            margin-bottom: 0;
        }
    }

    &__icon {
        @include rem(font-size, 24px);
        @include rem(margin-left, 15px);
        color: transparent;
        transition: color 0.5s;

        &___active {
            color: $color-green;
        }
    }

    &__progress {
        @include rem(margin-bottom, 30px);
    }

    &__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    &__tooltip {
        @include myriad(400);
        font-size: 1.125rem!important;
    }
}
