.recommendation {
    @include rem(padding, 50px);
    @include rem(margin-top, 50px);
    display: block;
    min-height: 55vh;
    transition-property: height;
    transition-timing-function: linear;
    transition-duration: 0.5s;

    &__columns {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include breakpoint(md) {
            display: grid;
            grid-template-columns: 1fr 15px 1fr;
            grid-gap: 50px;
        }
    }

    &__divider {
        width: 1px;
        height: 100%;
        background-color: #ccc;
    }

    &__title {
        @include rem(margin-bottom, 30px);
    }

    &__header {
        @include rem(margin-bottom, 15px);
        display: flex;
        flex-direction: column;
    }

    &__package {
        @include rem(font-size, 21px);
    }

    &__price {
        @include rem(font-size, 21px);
        @include rem(margin-bottom, 15px);
        font-weight: 600;
    }

    &__content {
        @include rem(margin-bottom, 30px);

        ul,
        ol {
            li {
                svg {
                    font-size: 1.25rem !important;
                    color: $color-green;
                }
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__button {
        @include rem(min-width, 135px);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        line-height: 1.125;
        text-align: center;
        vertical-align: center;
        text-decoration: none;
        background-color: transparent;
        border: 1px solid transparent;
        color: $color-white;
        padding: 0.75rem 1.25rem;
        -webkit-appearance: none;
        transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);

        &___buy {
            @include rem(margin-bottom, 10px);
            background-color: $color-green;
            border-color: $color-green;
            color: $color-white;

            &:hover,
            &:active {
                background-color: lighten($color-green, 5%);
                border-color: lighten($color-green, 5%);
                color: $color-white;
                text-decoration: none;
            }
        }

        &___details {
            @include rem(margin-right, 10px);
            background: $color-white;
            color: $color-font;
            border: 1px solid $color-gray-26;

            &:hover,
            &:active {
                border: 1px solid $color-gray-23;
                background: $color-white;
            }
        }
    }
}
