@import "styles/config.scss";

.actions {
    @include rem(padding, 0 50px);
    @include rem(margin-bottom, 30px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}